// colors
$c-white: #FFFFFF;
$c-black: #333333;
$c-gray-1: #F7F7F7;
$c-gray-2: #EAEAEA;
$c-gray-3: #CCCCCC;
$c-gray-4: #798289;
$c-orange-light: #FFF9F2;
$c-orange: #F8B908;
$c-green-light: #F4FDF9;
$c-green: #5DCD99;
$c-red-light: #ffebeb;
$c-red: #ED5B5B;
$c-blue: #018FFF;

// fonts
$f-sans-serif: 'Open Sans', sans-serif;

